@import '../../styles/shared.scss';

$bg-color: $background;
$primary-color: $primary;
$text-color: $text;
$text-secondary-color: $text-secondary;
$border-radius-button: 30px;

.captureLogIn {
  background-color: $bg-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.overlapWrapper {
  background-color: $bg-color;
  height: 852px;
  width: 393px;
}

.overlap {
  height: 852px;
  position: relative;
}

.backgroundDecal {
  height: 850px;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
}

.registerButton {
  height: 43px;
  left: 111px;
  position: absolute;
  top: 698px;
  width: 177px;
}

.registerText {
  color: $secondary;
  font-size: 16px;
  font-weight: $font-semibold;
  height: 19px;
  left: 56px;
  letter-spacing: -0.18px;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 24px;
  white-space: nowrap;
}

.noAccountText {
  color: $text-color;
  font-size: 16px;
  font-weight: $font-regular;
  height: 19px;
  left: 0;
  letter-spacing: -0.18px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 173px;
}

.appleSignUp {
  background-color: white;
  border-radius: $border-radius-button;
  box-shadow: $shadow-md;
  height: 56px;
  left: 26px;
  position: absolute;
  top: 623px;
  width: 343px;
  @include flex-center;
}

.signInWithAppleText {
  color: $text-color;
  font-size: 16px;
  font-weight: $font-bold;
  height: 24px;
  left: 104px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.appleLogo {
  height: 24px;
  left: 72px;
  position: absolute;
  top: 16px;
  width: 24px;
}

.googleSignUp {
  background-color: white;
  border-radius: $border-radius-button;
  box-shadow: $shadow-md;
  height: 56px;
  left: 26px;
  position: absolute;
  top: 544px;
  width: 343px;
  @include flex-center;
}

.logo {
  height: 24px;
  left: 72px;
  position: absolute;
  top: 16px;
  width: 24px;
}

.signInWithGoogleText {
  color: $text-color;
  font-size: 16px;
  font-weight: $font-bold;
  height: 24px;
  left: 103px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.login {
  background-color: $primary-color;
  border-radius: $border-radius-button;
  box-shadow: $shadow-md;
  height: 56px;
  left: 26px;
  position: absolute;
  top: 430px;
  width: 343px;
  @include flex-center;
}

.loginText {
  color: $text-color;
  font-size: 16px;
  font-weight: $font-bold;
  height: 24px;
  letter-spacing: -0.18px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}

.passwordField {
  height: 85px;
  left: 26px;
  position: absolute;
  top: 286px;
  width: 343px;
}

.forgotPasswordText {
  color: $text-color;
  font-size: 12px;
  font-weight: $font-regular;
  height: 24px;
  left: 3px;
  letter-spacing: -0.13px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 91px;
  white-space: nowrap;
}

.yourPasswordText {
  color: $text-color;
  font-size: 16px;
  font-weight: $font-regular;
  height: 24px;
  left: 0;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.passwordPngs {
  background-color: white;
  border-radius: 16px;
  box-shadow: $shadow-md;
  height: 55px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 343px;
}

.passwordDots {
  height: 6px;
  left: 55px;
  position: absolute;
  top: 25px;
  width: 61px;
  display: flex;
  gap: 1px;
}

.dot {
  background-color: #c4c4c4;
  border-radius: 2.77px;
  height: 6px;
  width: 6px;
}

.fieldIcon {
  height: 30px;
  left: 9px;
  position: absolute;
  top: 13px;
  width: 30px;
}

.showPassword {
  height: 15px;
  left: 311px;
  position: absolute;
  top: 21px;
  width: 15px;
}

.emailField {
  height: 86px;
  left: 26px;
  position: absolute;
  top: 172px;
  width: 345px;
}

.emailLabel {
  color: $text-color;
  font-size: 16px;
  font-weight: $font-regular;
  height: 24px;
  left: 0;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.emailInputFrame {
  background-color: white;
  border-radius: 16px;
  box-shadow: $shadow-md;
  height: 56px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 343px;
}

.emailPlaceholder {
  color: #c7c7c7;
  font-size: 16px;
  font-style: italic;
  font-weight: $font-regular;
  height: 24px;
  left: 53px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.appTitleContainer {
  height: 58px;
  left: 47px;
  position: absolute;
  top: 84px;
  width: 301px;
}

.spacer {
  height: 1px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 299px;
  background-color: $text-secondary-color;
  opacity: 0.3;
}

.appTitle {
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: $font-light;
  left: 72px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 155px;
}

.homeIndicator {
  height: 21px;
  left: 0;
  position: absolute;
  top: 831px;
  width: 393px;
}

.homeIndicatorBar {
  background-color: $text-color;
  border-radius: 100px;
  height: 5px;
  left: 127px;
  position: relative;
  top: 8px;
  width: 139px;
}

.statusBar {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
}

.time {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 140px;
}

.timeText {
  color: $text-color;
  font-size: 17px;
  font-weight: $font-medium;
  left: 54px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
}

.levels {
  height: 54px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 140px;
}

.battery {
  height: 13px;
  left: 81px;
  position: absolute;
  top: 23px;
  width: 27px;
}

.batteryOutline {
  border: 1px solid;
  border-color: $text-color;
  border-radius: 4.3px;
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.batteryCapacity {
  background-color: $text-color;
  border-radius: 2.5px;
  height: 9px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 21px;
}

.batteryCap {
  height: 4px;
  left: 26px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.wifi {
  height: 12px;
  left: 57px;
  position: absolute;
  top: 24px;
  width: 17px;
}

.cellularConnection {
  height: 12px;
  left: 30px;
  position: absolute;
  top: 24px;
  width: 19px;
}