# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
env.d.ts

# Testing
coverage

# Turbo
.turbo

.idea

# Build Outputs
out/
build
dist
*.tsbuildinfo
.output
.wrangler
.svelte-kit/
/build


ios/
android/

# Debug
npm-debug.log*
pnpm-debug.log*

# Misc
.DS_Store
Thumbs.db
*.pem
*.local
*.log*

.prettierrc

.wrangler
.dev.vars
.react-router

qdrant_storage/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
/.cache
/build

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#Rust
target/
**/*.rs.bk
wasm-pack.log
build/

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific

# Taskmaster
.roomodes
.taskmaster/
.roo/
.clinerules
.vscode/
.claude/
.cursor/
instructions/

CLAUDE.md

# Task files
# tasks.json
# tasks/ 