.header {
  padding: $spacing-md $spacing-lg;
  @include flex-between;
  
  &-title {
    font-size: 2.5rem;
    font-weight: $font-light;
    text-align: center;
  }
  
  &-back {
    padding: $spacing-sm;
  }
}

.nav {
  &-bar {
    @include flex-between;
    background-color: white;
    border-top: 1px solid $border;
    padding: $spacing-sm 0;
    
    &-item {
      flex: 1;
      @include flex-center;
      padding: $spacing-sm 0;
      
      &.active {
        color: $primary;
      }
    }
  }
}