.input {
  &-container {
    @include input-container;
    margin-bottom: $spacing-md;
  }
  
  &-icon {
    margin-right: $spacing-md;
  }
  
  &-field {
    flex: 1;
    font-size: 1rem;
    color: $text;
  }
}

.form {
  &-group {
    margin-bottom: $spacing-lg;
  }
  
  &-label {
    font-size: 1rem;
    margin-bottom: $spacing-xs;
  }
  
  &-helper {
    font-size: 0.75rem;
    margin-top: $spacing-xs;
  }
}